body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.navbar {

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
  --webkit-box-shadow: 0 8px 6px -6px gray;
  border-bottom: 0.3px solid gray;
  background-image: linear-gradient(to right, white, rgb(0, 242, 255));

}

.shpcart {
  font-size: large;
}

.active {
  border-bottom: 1px solid black;
}

.nav-item:hover {

  font-size: 15px;
  transition: all 0.3s;
}

.logimg {
  border-radius: 25px;
  border: 3px solid blue;
}

.logimg:hover {
  border-radius: 20px;
  transition: all 1s;
  cursor: pointer;
}

.btnlname {
  margin-right: 5px;
}

.poppover {
  border-radius: 25px;
}

.gbtn {
  border-radius: 20px;
}

.btnlog {
  border-radius: 25px;
  margin-bottom: -3%;
}

/* .dropdowns {
  border-radius: 25px;
  background-image: linear-gradient(to bottom, white, cyan);
} */

.dropdown-menu {
  background-image: linear-gradient(to bottom, white, cyan);
  border-radius: 10px;
}

.dropdown-menu :hover {
  border-bottom: 1px solid blue;

  border-radius: 10px;
}