body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.navbar {

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
  --webkit-box-shadow: 0 8px 6px -6px gray;
  border-bottom: 0.3px solid gray;
  background-color: rgb(96, 142, 240);

}

.shpcart {
  font-size: large;
}

.active {
  border-bottom: 1px solid black;
}

.nav-item:hover {

  font-size: 15px;
  transition: all 0.3s;
}

.logimg {
  border-radius: 25px;
}

.btnlname {
  margin-right: 5px;
}