.addrepdiv1 {
    display: flex;
    flex-direction: row;
    gap: 1%;
}

.addrepform {
    margin-left: 2%;
    margin-right: 2%;
}

.repimg {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 600px;
    height: auto;
    z-index: -1;
}