.search-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}

.search-input {
    border: 2px solid black;
    border-radius: 20px;
    width: 250px;
    padding: 5px 10px;
    padding-left: 40px;
    /* Add space for the icon */
}

.search-input:focus {
    transition: all 0.5s;
    border-color: blue;
    outline: none;
}

.searchicon {
    margin-right: -30px;
    position: relative;

}

@media (max-width: 800px) {
    .search-input {
        width: 250px;
        /* Adjust this width based on your requirement */
        padding-left: 35px;
    }

}